body {
    margin: 8px 0 8px;
}

header {
    display: flex;
    align-items: center;
    /* Vertical center */
    background-color: bisque;
}

h1.not-found-404 {
    color: red;
}

a.login {
    margin-left: auto;
}

a.nav-bar, button.nav-bar {
    padding: 0 16px 0;
}

a.logo {
    padding: 0 8px 0 0 !important;
}

a.right, button.right {
    margin-left: auto !important;
}

button.a-link {
    border-width: 0;
    background-color: inherit;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
} 

button.a-link:hover {
    color: darkblue;
}

button.a-link:focus {
    outline: 2px solid royalblue;
}